#source-selector
{
	flex-wrap: wrap;
	display: flex;
	width: 100%;
}

#source-selector-placeholder
{
	background-color: #999;
	padding: .3%;
	border-radius: 1%;
}

#source-selector div
{
	background-color: #bbb;
	margin: .25%;
	padding: .25%;
	border-radius: 1%;
}

#spells
{
	width: 100%;
	border-collapse: collapse;
}

#spells>:nth-child(2n)
{
	background-color: #ddd;
}

#spells tr td:not(:first-child)
{
	text-align: center;
}

#spells-header th:first-child
{
	text-align: left;
}

#spells-header th
{
	cursor: pointer;
}

#spells a
{
    text-decoration: none;
    color: inherit;
}

h1
{
    margin-bottom: 0;
}

p
{
    margin-top: 0;
}

#search-field
{
    width: 50%;
}

.code
{
	background-color: #ddd;
	padding: .3%;
    font-family: monospace serif;
}

.subtle
{
    color: #555;
    font-style: italic;
}

ul
{
    margin-top: 4px;
    margin-bottom: 4px;
}

#static-link
{
	margin-left: 25%;
	padding-left: .5%;
	padding-right: .5%;
	cursor: pointer;
}